*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(241, 246, 248);
}

.daniel-background{
    background-color: blueviolet;
    border-radius: 1rem;   
}
.daniel-container{
    display: flex;
    justify-content: space-between;   
}
.daniel-name{
    color: white;
    font-weight: bolder;
}
.daniel-pic-daniel-verified{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 1rem;
    padding-left: 1rem;
    width: 300px;
}

.daniel-pic{
    border-radius: 50px;
}


.bg-pattern-quotation{
    margin-right: 1rem;
    float: inline-end;
}
.daniel-job-history{
    margin: 2rem 1rem;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    line-height: 1.5rem;
}
.daniel-job-history-paragraph-2{
    margin: 2rem 1rem;
    font-size: 1rem;
    color: white;
    line-height: 1.5rem;   
    padding-bottom: 3rem;
}


.jonathan-background{
    background-color: gray;
    border-radius: 1rem;  
}
.jonathan-container{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 1rem;
    padding-left: 1rem;
}
.jonathan-pic{
    border: 1px solid white;
    border-radius: 50px;
}
.jonathan-name{
    color: white;
    font-weight: bolder;
}

.jonathan-job-history{
    margin: 2rem 1rem;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    line-height: 1.5rem;
}
.jonathan-job-history-paragraph-2{
    margin: 2rem 1rem;
    font-size: 1rem;
    color: white;
    line-height: 1.5rem;   
    padding-bottom: 3rem;
}


.jeanette-background{
    background-color: white;
    border-radius: 1rem;  
}
.jeanette-container{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 1rem;
    padding-left: 1rem;
}
.jeanette-pic{
    border: 1px solid white;
    border-radius: 50px;
}
.jeanette-name{
    font-weight: bolder;
}

.jeanette-job-history{
    margin: 2rem 1rem;
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
    line-height: 1.5rem;
}
.jeanette-job-history-paragraph-2{
    margin: 2rem 1rem;
    font-size: 1rem;
    color: gray;
    line-height: 1.5rem;   
    padding-bottom: 3rem;
}

.patrick-background{
    background-color: black;
    border-radius: 1rem;  
}
.patrick-container{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 1rem;
    padding-left: 1rem;
}
.patrick-pic{
    border: 1px solid white;
    border-radius: 50px;
}
.patrick-name{
    color: white;
    font-weight: bolder;
}
.graduate{
    color: white;
}
.patrick-job-history{
    margin: 2rem 1rem;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    line-height: 1.5rem;
}
.patrick-job-history-paragraph-2{
    margin: 2rem 1rem;
    font-size: 1rem;
    color: gray;
    line-height: 1.5rem;   
    padding-bottom: 3rem;
}


.kira-background{
    background-color:white;
    border-radius: 1rem;  
}
.kira-container{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 1rem;
    padding-left: 1rem;
}
.kira-pic{
    border: 1px solid white;
    border-radius: 50px;
}
.kira-name{
    font-weight: bolder;
}
.kira-job-history{
    margin: 2rem 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5rem;
}
.kira-job-history-paragraph-2{
    margin: 2rem 1rem;
    font-size: 1rem;
    color: gray;
    line-height: 1.5rem;   
    padding-bottom: 3rem;
}

@media only screen and (min-width: 992px) {
    .wrapper{
        display: grid;
        grid-gap: 1.5em;
        grid-template-columns: repeat(4, 1fr);
       }
       
       .daniel-background{
        background-color: blue;
           grid-column: span 2;
       }
       .patrick-background{
           grid-column: span 2;
       }
       
       .kira-background{
           grid-column-start: 4;
           grid-row-end: 1;
           grid-row: 1/3;
       }
  }